@font-face {
	font-family: "SofiaSans-Regular.ttf";
	src: url(fonts/SofiaSans-Regular.ttf);
}
body{
	box-sizing: border-box;
	color:  white;
	background-color: black;
	max-width: 1200px;
	margin: auto ;
	text-align: justify;
}
.astros>dl{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	display: flex;
	justify-content: center;
}
a{
	color: f0cc1a;
}
p{
	font-family: 'Courier New', Courier, monospace;
}
h2, caption, th{
	color: f0cc1a;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}
h1{
	font-family: 'Orbitron', sans-serif;
	color: f0cc1a;
	text-align: center;
}
img{
	
	width: 48%;
	

}
video{
	display: block;
	margin: auto;
}
audio{
	display: block;
	margin: auto;
}
.contenido{
	display: inline-block;
	width: 48%;
	height:  auto;
}
input{
	font-family: inherit;
	background-color: transparent;
	border: 0px black solid;
	border-bottom: white 1px solid;
	margin: 5px;
}
label{
	margin-left: 5px;
}
#inputs{
	margin: auto;
	width: 90%;
	max-width: 1300px;
}
#textarea{
	width: 60%;
	max-width: 1300px;
	margin: auto;
}
textarea{
	margin: auto;
}
table{
	border-collapse: collapse;
	background-color: #090863;
	margin: auto;

}
td, th{
	font-family: 'Orbitron', sans-serif;
	border: 1px solid white;
	padding: 0.5em 2em;
	overflow-x: auto ;
}
th{
	text-align: center;
	font-family: 'Orbitron', sans-serif; 
	color: f0cc1a;
	background-color: black;

}