body{
	box-sizing: border-box;
	color:  white;
	background-color: black;
	max-width: 1200px;
	margin: auto ;
	text-align: justify;
}
.astros>dl{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	display: flex;
	justify-content: center;
}
a{
	color: f0cc1a;
}
p{
	font-family: 'Courier New', Courier, monospace;
}
h2, caption, th{
	color: f0cc1a;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
}
h1{
	font-family: 'Orbitron', sans-serif;
	color: f0cc1a;
	text-align: center;
}
img{
	
	width: 48%;
	

}
video{
	display: block;
	margin: auto;
}
audio{
	display: block;
	margin: auto;
}
.contenido{
	display: inline-block;
	width: 48%;
	height:  auto;
}
input{
	font-family: inherit;
	background-color: transparent;
	border: 0px black solid;
	border-bottom: white 1px solid;
	margin: 5px;
}
label{
	margin-left: 5px;
}

#contactoaliens{
	width: 75%;
	margin:2rem auto;
}

#contactoaliens form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#inputs{
	margin: 0.5rem auto;
	width: 90%;
	max-width: 1300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#inputs input{
	margin: 0rem;
	color: white;
	outline: none;
}


#selects{
	display: flex;
	justify-content: center;
	align-items: center;
}

#selects label{
	margin-right: 0.5rem;
}

#selects select{
	background: transparent;
	border: 1px solid white;
	color: white;
	padding: 0.3rem;
	border-radius: 10px;
}

#selects option{
	background-color: black;
}

#textarea{
	margin: 1rem auto;
	width: 60%;
	text-align: center;
}
textarea{
	margin:0.4rem auto;
	width: 100%;
}

#foto,#acepto{
	display: flex;
	justify-content: center;
	margin: 0.5rem 0rem;
	align-items: center;
}

#foto input{
	border-bottom: 0px;
}

#contactoaliens button{
	width: 50%;
	margin: 0.5rem auto;
	background: transparent;
	padding: 1rem;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
}

#contactoaliens button:hover{
	cursor: pointer;
}

table{
	border-collapse: collapse;
	background-color: #090863;
	margin: auto;

}
td, th{
	font-family: 'Orbitron', sans-serif;
	border: 1px solid white;
	padding: 0.5em 2em;
	overflow-x: auto ;
}
th{
	text-align: center;
	font-family: 'Orbitron', sans-serif; 
	color: f0cc1a;
	background-color: black;

}